* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

main {
    width: 100vw;
    height: 100vh;
}

.box {
    margin: auto;
    width: 350px;
    height: 610px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

.img {
    height: 250px;
    background-image: url(../images/image-product-mobile.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding: 20px;
}

.main>h1 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    line-height: 35px;
    color: hsl(212, 21%, 14%);
}

#ip1 {
    padding-bottom: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
}

#ip2 {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: hsl(228, 12%, 48%);
}

.price {
    font-family: 'Fraunces', serif;
    padding-top: 17px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
}

#price1 {
    font-size: 35px;
    color: hsl(158, 36%, 37%);
}

.cart {
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cart:hover {
    cursor: pointer;
    background-color: hsl(158, 37%, 16%);
    transition: 0.2s;
}

.attribution {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

div>a {
    color: black;
}